<div th:fragment="scenarioList">
    <span th:text="${featureFile.feature.children.size()} + ' scenarios contained:'"></span>
    <ul class="list-unstyled">
        <li th:each="child, stat : ${featureFile.feature.children}">
            <th:block th:if="${child instanceof T(gherkin.ast.Scenario)}">
                <div th:replace="~{partials/scenario :: scenario(child=${child}, featureFile=${featureFile}, index=${stat.index})}"></div>
            </th:block>
            </div>
        </li>
    </ul>
</div>