<div th:fragment="stepList" class="accordion" th:id="'accordion-' + ${featureFile.featureId} + '-' + ${index}">
    <div class="accordion-item">
        <div class="accordion-header" th:id="'heading-' + ${featureFile.featureId} + '-' + ${index}">
            <span class="accordion-button small" type="button" data-toggle="collapse"
                th:data-target="'#collapse-' + ${featureFile.featureId} + '-' + ${index}" aria-expanded="true"
                th:aria-controls="'collapse-' + ${featureFile.featureId} + '-' + ${index}">
                Steps
            </span>
        </div>
        <div th:id="'collapse-' + ${featureFile.featureId} + '-' + ${index}" class="accordion-collapse collapse hide"
            th:aria-labelledby="'heading-' + ${featureFile.featureId} + '-' + ${index}"
            th:data-parent="'#accordion-' + ${featureFile.featureId} + '-' + ${index}">
            <div class="accordion-body">
                <!-- <ul class="list-unstyled">
                    <th:block th:each="step, stepStat : ${child.scenario.steps}">
                        <div
                            th:replace="partials/step :: step (featureFile=${featureFile}, child=${child}, index=${index}, step=${step}, stepIndex=${stepStat.index})">
                        </div>
                    </th:block>
                </ul> -->
                <!-- <div th:if="${child.scenario.isOutline}" class="card-body">
                    <span>Examples</span>
                    <table class="table table-striped display">
                        <tr th:each="example : ${child.scenario.examples}">
                            <td>
                                <table class="table table-striped display">
                                    <tr>
                                        <td th:each="cell : ${example.tableHeader.cells}" th:text="${cell.value}"></td>
                                    </tr>
                                    <tr th:each="row : ${example.tableBody}">
                                        <td th:each="cell : ${row.cells}" th:text="${cell.value}"></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div> -->
            </div>
        </div>
    </div>
</div>